[Unit]
Description=Dell Server Fan Control Service
After=network.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/local/bin/dell-fan-control/fan_control.sh
ExecStop=/usr/local/bin/dell-fan-control/shutdown_fan_control.sh

[Install]
WantedBy=multi-user.target
